
.number {
    height: 55px;
    width: 55px;
    border: 0 solid;
    background-color: rgba(18, 18, 20, 0.2);
    border-radius: 0.9em;
    outline: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1px;
    cursor: pointer;
}

.number div {
    display: block;
    height: 55px;
    width: 55px;
    padding-top: 13px;
}

.question {
    font-size: 24px;
    font-weight: 400;
    color: #ff6000;
    margin-top: 54px;
}

.answer {
    font-size: 56px;
}

.ok {
    height: 85px;
    width: 55px;
    border: 0 solid;
    background-color: #ec971f;
    border-radius: 0.9em;
    outline: none;
    text-align: center;
    font-size: 56px;
    cursor: pointer;
}

.ok.disabled {
    pointer-events: none;
    background-color: transparent;
}

.history-image {
    background-image: url(../images/Dani.jpg);
    border-radius: 1.9em;
    background-size: 200%;
}